{% extends 'base.html' %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                {% if cat == 'user-created' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                {% elif cat == 'auth-success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}


    <div class="container-fluid" style="padding-top: 1vh; background-color: gray;">
        <div class="row">
            <div class="col-12 col-lg-5" id="focus">
                <h1>Welcome to Comic Cabana!</h1>
                <h2>Share your collection with people from all over the world.</h2>
                <a class="btn btn-dark" href="{{ url_for('auth.signup') }}" role="button">Sign Up Free</a>
                <a class="btn btn-outline-dark" href="#" role="button">Chat With Us</a>
                <h3 id="doubletap">Already a memeber? <a href="{{ url_for('auth.signin') }}" id="noembelish"><b>Sign In</b></a></h3>
            </div>
            <div class="col-12 col-lg-7" id="marvelpic">
                <img src="https://res.cloudinary.com/jerrick/image/upload/f_jpg,fl_progressive,q_auto,w_1024/lkqxfssfmz15w2i8oxtj.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>

{% endblock content %}